<?php

return array(
    "host" => "{{ dbhost }}",
    "username" => "{{ data['myapp']['db']['user'] }}",
    "password" => "{{ data['myapp']['db']['pass'] }}",
    "database" => "{{ data['myapp']['db']['name'] }}",
);

?>
